
	.cuadro{
margin-left:70%; padding:0px 20px 0px 20px;
}
	 .centro{
	
	font-family: "Comic Sans MS", "Comic Sans", cursive;

	text-align: center;
	width:100%;

	 }






.container{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{

   
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

</style>